/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;

}

@font-face {
  font-family: 'Cinzel';
  src: url('./assets/Cinzel-VariableFont.ttf');
}

@font-face {
  font-family: 'Cinzel-Regular';
  src: url('./assets/Cinzel-Regular.ttf');
}


@font-face {
  font-family: 'Cinzel-SemiBold';
  src: url('./assets/Cinzel-SemiBold.ttf');
}

@font-face {
  font-family: 'Cinzel-Bold';
  src: url('./assets/Cinzel-Bold.ttf');
}
